body {
  background-image: url("../imgs/spotify_background.png");
}


#tabs {
  overflow: hidden;
  font-family: "Comic Sans MS";
  color: #84bd00;
}

.green-text {
  color: #84bd00;
}

.tab-title {
  size: 50pt;
}